@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --highlight: #bb17df;
    --opaque-hover: #D987EB;
    --highlight-text: #F9F9F9;
    --dark-text: #373737;
    --highlight-opaque: #F8F9FD;
    --bg-color: #FFFFFF;
    --succesfull: #008A0E;
    --error: #D01919;
    --border-radius: 0.7rem;
    --border-solid: solid 0.01rem rgba(0, 0, 0, 0.09);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    box-sizing: border-box;
    color: var(--dark-text);
}

body{
    width: 100%;
    height: 100%;
}

.main-section{
    width: 100%;
    height: 100%;
   
}

#productos{
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten a nuevas líneas */
    justify-content: center; /* Espacio entre elementos */
    background-image: url('../images/bbblurry.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}

.card{
    width: 14rem;
    height: 21rem;
    margin: 0.5rem 0.5rem;
    border-radius: 0.9rem;
    overflow: hidden;
    border: var(--border-solid);
    box-shadow: 0px 0px 0.5rem 0px rgba(0, 0, 0, 0.06), 0px 0px 0.5rem 0px rgba(0, 0, 0, 0.01), 0px 2px 4px 0px rgba(0, 0, 0, 0.02);  
    transition: 0.3s cubic-bezier(0, .37, .32, 1);
    background-color: var(--highlight-text);
}

.card:hover{
    scale: 1.02;
    transition: 0.3s cubic-bezier(0, .37, .32, 1);
}

.prod-img{
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: var(--border-solid);
    overflow: hidden;
}

img{
    width: 100%;
}

.data{
    width: 100%;
    padding: 1.2rem;
    height: 55%;
}

.prod-name{
    text-transform: capitalize;
    font-size: 0.9rem;
    letter-spacing: -0.02rem;
}

.prod-price{
    color: var(--highlight);
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: block;
    margin-top: 0.3rem;
}
